spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/todo
    username: postgres
    password: 123456

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        jdbc:
          lob:
            non_conextual_creation: true
    hibernate:
      ddl-auto: none